# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [19]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [20]:
# your code here
orders = pd.read_csv('Orders.zip')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [21]:
# your code here
aggregated_expenses = orders.groupby('CustomerID')['amount_spent'].sum()
aggregated_expenses.head()

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
Name: amount_spent, dtype: float64

In [22]:
# Calculating the 75th and 95th percentiles of aggregated expenses and 
#Selecting customers whose aggregated expenses are in the given quantile range
percentile_75th = aggregated_expenses.quantile(0.75)
percentile_95th = aggregated_expenses.quantile(0.95)

vip_customers = aggregated_expenses[aggregated_expenses > percentile_95th]
preferred_customers = aggregated_expenses[(aggregated_expenses > percentile_75th) & (aggregated_expenses <= percentile_95th)]

print("Number of VIP Customers:", len(vip_customers))
print("Number of Preferred Customers:", len(preferred_customers))

Number of VIP Customers: 217
Number of Preferred Customers: 868

In [23]:
# New column 'Customer_Type' and initialize it with regular
# Update 'CustomerType' for VIP and Preferred Customers
orders['Customer_Type'] = 'Regular'

orders.loc[orders['CustomerID'].isin(vip_customers.index), 'Customer_Type'] = 'VIP'
orders.loc[orders['CustomerID'].isin(preferred_customers.index), 'Customer_Type'] = 'Preferred'
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Customer_Type
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,Preferred
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,Preferred
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [27]:
# your code here
# Filter VIP Customers
vip_customers_filtered = orders[orders['Customer_Type'] == 'VIP']

In [28]:
# Group by Country and count VIP Customers
vip_customers_by_country = vip_customers_filtered.groupby('Country')['CustomerID'].count()

In [31]:
#Find the country with the most VIP Customers
country_with_most_vip_customers = vip_customers_by_country.idxmax()
num_vip_customers = vip_customers_by_country.max()
print("Country with the most VIP customers:", country_with_most_vip_customers)
print("Number of VIP Customers in", country_with_most_vip_customers + ":", num_vip_customers)

Country with the most VIP customers: United Kingdom
Number of VIP Customers in United Kingdom: 84185

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [32]:
# your code here
# Filter VIP and Preferred Customers
vip_preferred_customers_filtered = orders[(orders['Customer_Type'] == 'VIP') | (orders['Customer_Type'] == 'Preferred')]

# Group by Country and count VIP+Preferred Customers
vip_preferred_customers_by_country = vip_preferred_customers_filtered.groupby('Country')['CustomerID'].count()

# Find the country with the most VIP+Preferred Customers
country_with_most_vip_preferred_customers = vip_preferred_customers_by_country.idxmax()
num_vip_preferred_customers = vip_preferred_customers_by_country.max()

# Print the country with the most VIP+Preferred Customers and the number of VIP+Preferred Customers in that country
print("Country with the Most VIP+Preferred Customers:", country_with_most_vip_preferred_customers)
print("Number of VIP+Preferred Customers in", country_with_most_vip_preferred_customers + ":", num_vip_preferred_customers)

Country with the Most VIP+Preferred Customers: United Kingdom
Number of VIP+Preferred Customers in United Kingdom: 221635